// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.main_background {
  background: url("../img/background.webp") center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome_logo {
  opacity: 80%;
  height: 180px;
}

.btn_welcome {
  margin-top: 30px;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.459);
  backdrop-filter: blur(4px);
  padding: 10px 40px;
  border: 2.5px solid #fff;
  font-size: 0.95rem;
}

a .btn_welcome {
  text-decoration: none;
}

@media (min-width: 1200px) {
  .welcome_logo {
    height: 350px;
    margin-left: 40px;
  }

  .btn_welcome {
    transition: 500ms;
    font-size: 1.2rem;
  }

  .btn_welcome:hover {
    transform: scale(1.05);
    transition: 500ms;
  }
}
